<div class="container">
  <div class="d-flex justify-content-between align-items-end">
    <h1>Restaurants</h1>
    <%= link_to 'New Restaurant', new_restaurant_path %>
  </div>
  <div class="cards">
    <% @restaurants.each do |restaurant| %>
      <p><%= link_to restaurant.name, restaurant_path(restaurant), class: 'text-decoration-none text-dark' %></p>
    <% end %>
  </div>
</div>
