<div class="container mt-3">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= '*' * @restaurant.rating %></p>
  <%= link_to 'Restaurants', restaurants_path, class: 'btn btn-success'  %>
</div>
